.date-and-view {
    display: flex;
    align-items: center;
}

.date-and-view__img {
    width:20px;
    height: 20px;
    vertical-align: middle;
    padding-bottom: 4px;
}

.date-and-view__date {
    margin-right: 20px;
}