.digestview__dateAndView {
    display: flex;
    align-items: center;
}

.digestview__dateAndView-img {
    width:20px;
    height: 20px;
    vertical-align: middle;
    padding-bottom: 4px;
}

.digestview__dateAndView-date {
    margin-right: 20px;
}