.digestview {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    color: white;
    display: flex;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: .4px;
}

.digestview p {
   text-align: left;
   padding-right: 30%;
}

.digestview-para {
    margin-bottom: 10px;
}

.digestview h1, h2 {
    color: #000;
    text-align: left;
}

.digestview__header {
    margin-top: 8px;
    font-size: 26px;
}

.digestview__section {
    color: #9c9c9c;
    margin-top: 60px;
    margin-bottom: 0px;
    font-size: 26px;
}

@media (max-width: 1200px) {
    .digestview {
        font-weight: 400;
        font-size: 16px;
        letter-spacing: .1px;
    }

    .digestview p {
        padding-right: 10%;
    }

     .digestview__header {
        margin-top: 4px;
        font-size: 20px;
    }

    .digestview__section {
        margin-top: 20px;
        margin-bottom: 0px;
        font-size: 20px;
    }
    
}

@media (max-width: 900px) {
    .digestview {
        font-weight: 400;
        font-size: 12px;
        letter-spacing: .1px;
    }

    .digestview p {
        padding-right: 8%;
    }

     .digestview__header {
        margin-top: 2px;
        font-size: 16px;
    }

    .digestview__section {
        margin-top: 16px;
        margin-bottom: 0px;
        font-size: 16px;
    }
    
}

.digestview ul {
    text-align: left;
}

.digestview a {
    text-decoration: none;
    color: #F2E14C;
}

.digestview__left-side {
    width: 30%;
}

.digestview__right-side {
    background-color: white;
    color: black;
    width: 70%;
    margin: 0;
    padding-top: 4%;
    padding-left: 4%;
    color: #9c9c9c;
    border: .5px solid #4D88D5;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    overflow-y: scroll;
}

.digestview-open {
    animation: openModal .5s linear forwards;
}

.digestview-closed {
    animation: closeModal .5s linear forwards;
}

@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    50% {
        opacity: .7;
        transform: translateX(60%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    50% {
        opacity: 0.8;
        transform: translateX(60%);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}


