.digestview__option {
    width: 45px;
    height: 130px;
    background-color: #F2E14C;
    position: relative;
    top: 50%;
    display: flex;
    flex-direction: column;
}

.digestview__option-img {
    width: 25px;
    flex: 1;
    padding: 10px;
    cursor: pointer;
}