body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face{
  font-family: 'Exo';
  src: url('fonts/Exo2-Bold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face{
  font-family: 'Exo';
  src: url('fonts/Exo2-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: 'Exo';
  src: url('fonts/Exo2-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Exo';
  src: url('fonts/Exo2-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face{
  font-family: 'Exo';
  src: url('fonts/Exo2-BoldItalic.ttf') format('truetype');
  font-weight: bolder;
  font-style: italic;
}


@font-face{
  font-family: 'Exo';
  src: url('fonts/Exo2-SemiBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


@font-face{
  font-family: 'Exo';
  src: url('fonts/Exo2-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face{
  font-family: 'Exo';
  src: url('fonts/Exo2-LightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}