.partners-logo{
    position: absolute;
    bottom: 80px;
    right: 80px;
    display: flex;
}

.partners-logo__img{
    width: 260px;
    height: 90px;
    margin-left: 95px;
    background-size: contain;
    background-repeat: no-repeat;
}

.partners-logo__img_epam{
    background-image: url('../_images/epam-icon.png');
}

.partners-logo__img_dev-by{
    background-image: url('../_images/dev-by-icon.png');
}

.partners-logo__img_streamline{
    background-image: url('../_images/streamline-icon.png');
}