.DateAndView {
    display: flex;
    align-items: center;
}

.DateAndView-Img {
    width:20px;
    height: 20px;
    vertical-align: middle;
    padding-bottom: 4px;
}

.DateAndView-Date {
    margin-right: 20px;
}