@media screen and (max-width: 996px) {
    .menu__nav-link {
        margin-left: 30px;
    }
}

@media screen and (max-width: 750px) {
    .logo-box {
        left: 30px;
        top: 30px;
    }
}

@media screen and (max-width: 750px) {
    #menu__toggle {
        display: none;
    }
    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked~.menu {
        visibility: visible;
        right: 0;
        z-index: 100;
    }
    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 30px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 101;
    }
    .menu__btn>span, .menu__btn>span::before, .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #FFFFFF;
        transition-duration: .25s;
    }
    .menu__btn>span::before {
        content: '';
        top: -8px;
    }
    .menu__btn>span::after {
        content: '';
        top: 8px;
    }
    .menu {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: rgba(242, 225, 76, 0.90);
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
    }
    .menu__nav-link {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Exo', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__nav-link--logo {
        color: white;
        font-family: 'Machine', sans-serif;
    }
}