@media screen and (max-width: 1400px){
    .event_wrapper{
        min-width: 27%;
    }
}

@media screen and (max-width: 1050px){
    .event_wrapper{
        min-width: 40%;
    }
}

@media screen and (max-width: 750px){
    .event_wrapper{
        min-width: 60%;
    }
}

@media screen and (max-width: 500px){
    .event_wrapper{
        min-width: 90%;
    }
}