@media screen and (max-width: 500px), (max-height: 850px){
    .partners__title{
        top: 100px;
        font-size: 49px;
    }

}

@media screen and (max-width: 370px){
    .partners__title{
        left: 30px;
    }
}