.body {
  background-color: rgba(0, 0, 0, 0.6);
  font-family: 'Avenir Next', sans-serif;
}

.title {
  position: absolute;
  top: 200px;
  left: 60px;
  color: #f2e14c;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 2px;
}
