.tile-element {    
    text-align: left;
    width: 33%;
    padding: 0 50px;
    box-sizing: border-box;
}

.tile-element__title {
    margin-bottom: 23px;
    font-size: 24px;
    line-height: 20px;
    font-weight: bold;
}

.tile-element__description{
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    margin: 0;
}