.DigestView {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.left-side {
    width: 33.33%;
}

.right-side {
    background-color: white;
    color: black;
    width: 66.33%;
    margin: 0;
}

.DigestView-open {
    display: flex;
}

.DigestView-closed {
    display: none;
}