.eventsContent {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    max-width: 70%;
    height: 58%;
    right: 70px;
    top: 340px;
    overflow-y: scroll;
    color: white;
    font-family: 'Exo', sans-serif;
}

.eventsContent::-webkit-scrollbar {
    width: 6px;
}

.eventsContent::-webkit-scrollbar-thumb {
    background-color: #F2E14C;
    border-radius: 3px;
}

.eventsContent__wrapper {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 33%;
    min-height: 39%;
    padding: 0 60px 45px;
    box-sizing: border-box;
    cursor: pointer;
}

.eventsContent__element {
    margin-bottom: 45px;
    display: flex;
    flex-flow: row nowrap;
    color: white;
    font-family: 'Exo', sans-serif;
}

.eventsContent__date {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0 24px 0 0;
}

.eventsContent__day {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 37px;
}

.eventsContent__month {
    font-size: 14px;
}

.eventsContent__title {
    margin: 0;
    padding: 5px 0 0;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

.eventsContent__description {
    margin: 14px 0 auto;
    display: block;
    text-align: left;
    font-size: 14px;
}

@media screen and (max-width: 1200px) {
    .eventsContent {
        max-width: 80%;
    }

    .eventsContent__wrapper {
        padding: 0 30px 45px;
        max-width: 80%;
    }
}

@media screen and (max-width: 850px) {
    .eventsContent {
        max-width: 85%;
        right: 35px;
    }

    .eventsContent__wrapper {
        width: 50%;
        padding: 0 30px 35px;
    }
}

@media screen and (max-width: 500px) {
    .eventsContent {
        max-width: 85%;
        right: 10px;
        top: 35%;
    }

    .eventsContent__wrapper {
        width: 100%;
        padding: 0 15px 25px;
    }
}

@media screen and  (max-height: 810px) {
    .eventsContent {
        max-width: 85%;
        right: 10px;
        top: 45%;
        height: 53%;
    }

    .eventsContent__wrapper {
        width: 100%;
        padding: 0 15px 25px;
    }
}

