.sign-up {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Avenir Next', sans-serif; 
    transition: 0.7s;
    right: 270px;
}

.reset_sign-up-width{
    right: -100%;
}

.sign-up__wrapper {
    height: 550px;
    width: 540px;
}

.sign-up__title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 39px 0 23px 0;
}
