.authorization {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    box-align: center;
    justify-content: center;
    align-items: center;
}

.authorization__wrapper{
    display: flex;
    box-align: center;
    justify-content: center;
    align-items: center;
    width: 860px;
    height: 550px;
    border-radius: 10px;
    background-color: #FFFFFF;
    overflow: hidden;
    position: relative;
}