.authorization-bar{
    font-family: 'Exo';
    position: relative;
    background-color: #ECE24B;
    transition: 0.7s;
}

.authorization-bar_sign-in{
    transform: translate(270px, 0);
}

.authorization-bar_sign-up{
    transform: translate(-270px, 0);
}

.authorization-bar__wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 320px;
}

.authorization-bar__title{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0 0 17px 0;
}

.authorization-bar__btn{
    height: 40px;
    width: 160px;
    border: 1px solid #222222;
    border-radius: 20px;
    background: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}

.authorization-bar__btn:hover{
    background-color: rgba(255, 255, 255, 0.7);
}

.authorization-bar__btn:focus{
    box-shadow: 0 0 0 1px black;
} 