.sign-in{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    transition: 0.7s;
    font-family: 'Exo';
    transition: 0.7s;
    left: 270px;
}

.reset_sign-in-width{
    left: -100%;
}

.sign-in__wrapper{
    height: 550px;
    width: 540px;
}

.sign-in__title{
    font-size: 24px;
    font-weight: bold;
    margin: 39px 0 23px 0;
}