.auth-from{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 80px 0 0;
}

.auth-form__title{
    margin-bottom: 20px;
}

.auth-form__input{
    min-width: 300px;
    height: 37px;
    margin-bottom: 13px;
    padding: 12px;
    box-sizing: border-box;
}

.auth-form__btn{
    margin: 27px;
    padding: 10px 35px;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}