.authorization-bar{
}

.authorization-bar__wrapper_sign-in{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.authorization-bar__wrapper_sign-up{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.authorization-bar__wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 550px;
    min-width: 320px;
    background-color: #ECE24B;
}

.authorization-bar__title{
    max-width: 220px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Exo';
    color: #FFFFFF;
    margin: 0 0 17px 0;
}

.authorization-bar__btn{
    min-height: 40px;
    min-width: 160px;
    border: 1px solid #222222;
    border-radius: 20px;
    background: none;
    font-family: 'Exo';
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.authorization-bar__btn:hover{
    background-color: rgba(255, 255, 255, 0.7);
}