.authorization {
    height: 100%;
    width: 100%;
    display: flex;
    box-align: center;
    justify-content: center;
    align-items: center;
}

.authorization__wrapper{
    display: flex;
    box-align: center;
    justify-content: center;
    align-items: center;
    min-width: 860px;
    max-height: 556px;
}

.reset_width{
    display: none;
}