.sign-up{
    display: flex;
    flex-flow: column nowrap;
}

.sign-up__wrapper{
    max-height: 550px;
    max-width: 540px;
    min-height: 550px;
    min-width: 540px;
    transition: 0.7s;
}

.sign-up__title{
    font-family: 'Exo';
    margin: 39px 0 23px 0;
}