.social-auth{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.social-auth__icon{
    margin: 0 11px 0px 11px;
    height: 41px;
    width: 41px;
    border-radius: 50%;
    border: 1px solid #C3C3C3;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.2s;
}

.social-auth__icon:hover{
    border: 1px solid #808080;
}

.social-auth__icon_google-plus{
    background-image: url('../images/google-plus-icon.png');
}

.social-auth__icon_facebook{
    background-image: url('../images/facebook-icon.png');
}

.social-auth__icon_twitter{
    background-image: url('../images/twitter-icon.png');
} 