.partners {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}

.partners__title{
    position: absolute;
    top: 200px;
    left: 60px;
    font-size: 55px;
    font-weight: bold;
    color: #F2E14C;
}