.event{
    width: 25%;
    margin: 0 36px 0;
    display: flex;
    flex-flow: row nowrap;
    color: white;
    font-family: 'Avenir Next', sans-serif;
}

.event__date{
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0 24px 0 0;
}

.event__day{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 37px;
}

.event__month{
    font-size: 14px;
}

.event__title{
    margin: 0;
    padding: 5px 0 0;
    text-align: left;
    font-size: 18px;
}

.event__description{
    margin: 14px 0 auto;
    display: block;
    text-align: left;
    font-size: 14px;
}