.active-link {
    color: #F2E14C;    
}

a {    
    font-family: 'Arial', sans-serif;
    font-size: 2.6vh;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 8vh;
}

.logo-box__link {
    height: 4vh;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 

.menu {
    position: absolute;
    right: 8vh;    
    top: 4vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
}

.logo-box {
    position: absolute;
    top: 4vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 9.5vh;
}