.activeLink, a:active {
    color: #F2E14C;
}

.nav {
    position: absolute;
    right: 3vh;
    top: 8vh;
}

.nav__link {
    padding-right: 8vh;
}
a {    
    font-family: 'Arial', sans-serif;
    font-size: 2.6vh;
    color: white;
    text-decoration: none;
    font-weight: bold;
}