.active-link {
    color: #F2E14C;    
}

a {    
    font-family: 'Exo', sans-serif;    
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo-box__link {
    height: 28px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 

.menu {
    position: absolute;
    right: 60px;
    top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
}

.menu__nav-link{
    margin-left: 60px;
}

.logo-box {
    position: absolute;
    top: 60px;
    left: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}